# VALUES=EU
A_01	0	Auto
A_02	0	Auto
A_03	0	Auto
A_04	0	Auto
A_05	0	Auto
A_06	0	Auto
A_07	0	Auto
A_08	0	Auto
A_09	0	Auto
A_10	0	Auto
A_11	0	Auto
A_12	0	Auto
Action_01	100	Auto
Action_02	100	Auto
Action_03	100	Auto
Action_04	100	Auto
Action_05	0	Auto
Action_06	0	Auto
Action_07	0	Auto
Action_08	0	Auto
Action_09	0	Auto
Action_10	100	Auto
Action_11	0	Auto
Action_12	100	Auto
B_01	-0.02	Auto
B_02	-0.02	Auto
B_03	-0.02	Auto
B_04	-0.02	Auto
B_05	-0.02	Auto
B_06	-0.02	Auto
B_07	-0.02	Auto
B_08	-0.02	Auto
B_09	-0.02	Auto
B_10	-0.02	Auto
B_11	-0.02	Auto
B_12	-0.02	Auto
Flow_01	0	Auto
Flow_02	0	Auto
Flow_03	0	Auto
Flow_04	0	Auto
Flow_05	0	Auto
Flow_06	0	Auto
Flow_07	0	Auto
Flow_08	0	Auto
Flow_09	0	Auto
Flow_10	0	Auto
Flow_11	0	Auto
Flow_12	0	Auto
MaxFlow	100	Auto
OverallValue	0	Auto
StreamValue_01	0	Auto
StreamValue_02	0	Auto
StreamValue_03	0	Auto
StreamValue_04	0	Auto
StreamValue_05	0	Auto
StreamValue_06	0	Auto
StreamValue_07	0	Auto
StreamValue_08	0	Auto
StreamValue_09	0	Auto
StreamValue_10	0	Auto
StreamValue_11	0	Auto
StreamValue_12	0	Auto
UnitValue_01	-2.4839	Manual
UnitValue_02	-6.88284	Manual
UnitValue_03	6.31764	Manual
UnitValue_04	0.0204474	Manual
UnitValue_05	7.06534	Manual
UnitValue_06	0.494095	Manual
UnitValue_07	-1.92175	Manual
UnitValue_08	4.62203	Manual
UnitValue_09	-1.99988	Manual
UnitValue_10	5.00961	Manual
UnitValue_11	-2.39051	Manual
UnitValue_12	6.70217	Manual
Valve_01	0	Auto
Valve_02	0	Auto
Valve_03	0	Auto
Valve_04	0	Auto
Valve_05	0	Auto
Valve_06	0	Auto
Valve_07	0	Auto
Valve_08	0	Auto
Valve_09	0	Auto
Valve_10	0	Auto
Valve_11	0	Auto
Valve_12	0	Auto
XZero_01	10	Auto
XZero_02	20	Auto
XZero_03	30	Auto
XZero_04	40	Auto
XZero_05	50	Auto
XZero_06	60	Auto
XZero_07	70	Auto
XZero_08	80	Auto
XZero_09	90	Auto
XZero_10	33	Auto
XZero_11	66	Auto
XZero_12	12	Auto
YZero_01	20	Auto
YZero_02	25	Auto
YZero_03	30	Auto
YZero_04	35	Auto
YZero_05	40	Auto
YZero_06	45	Auto
YZero_07	50	Auto
YZero_08	55	Auto
YZero_09	60	Auto
YZero_10	65	Auto
YZero_11	70	Auto
YZero_12	75	Auto
